@model FiveWonders.core.Models.GalleryImg

<div id="gallery-delete-page">
<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

<hr />


    <div class="gallery-delete-img-container">
        @{ string x = Model.mImageType + Convert.ToBase64String(Model.mImage);}
        <img class="gallery-delete-img" alt="@Model.mID" src="@x" />
    </div>

</div>

@section Pagecss
{
    <link href="~/Content/5WondersCss/GalleryCss.css"
          rel="stylesheet" type="text/css" />
}