@model IEnumerable<FiveWonders.core.Models.GalleryImg>

<div id="gallery-page">

    @using (Html.BeginForm("Index", "GalleryManager", FormMethod.Post, new { encType = "multipart/form-data" }))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input multiple type="file" id="file" name="imageFiles" class="form-control" accept="image/png,image/jpg,image/jpeg" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }


    <div class="gallery-section">
        @foreach (FiveWonders.core.Models.GalleryImg item in Model)
        {
            <a class="gallery-img-container col-lg-3" href="@Url.Action("Delete", "GalleryManager", new { Id = item.mID })">
                <div>
                    @{string x = item.mImageType + Convert.ToBase64String(item.mImage);}

                    <img class="gallery-img" src="@x" alt="@item.mID" />
                    <p style="margin: 1vh 0; width: 100%;" class="btn btn-danger">Delete</p>
                </div>
            </a>
        }
    </div>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    @Html.ActionLink("Back to Managers", "Index", "Managers")
</div>

@section Pagecss
{
    <link href="~/Content/5WondersCss/GalleryCss.css"
          rel="stylesheet" type="text/css" />
}