@model IEnumerable<FiveWonders.core.Models.SocialMedia>

@foreach(FiveWonders.core.Models.SocialMedia media in Model)
{
    string iconSrc = media.mIconType + Convert.ToBase64String(media.mIcon);
    <a rel="noopener noreferrer" target="_blank" href="@media.mUrl"><img style="height: @ViewBag.iconSize; width: auto;" src="@iconSrc" alt="@media.mUrl" /></a>
}
