
@{ 
    Dictionary<string, string> managerPairs = new Dictionary<string, string>();

    managerPairs.Add("/ProductManager/", "Products Manager");
    managerPairs.Add("/CategoryManager/", "Category Manager");
    managerPairs.Add("/SubcategoryManager/", "Sub-Category Manager");
    managerPairs.Add("/SizeChartManager/", "Size Charts Manager");
    managerPairs.Add("/GalleryManager/", "Gallery Manager");
    managerPairs.Add("/SocialMediaManager/", "Social Media Manager");
    managerPairs.Add("/CustomListManager/", "Custom Lists Manager");
    managerPairs.Add("/HomeManager/", "Home Page Setup");
    managerPairs.Add("/ServicesManager/", "Contact Page Setup");
}

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    @foreach(var manager in managerPairs)
    {
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" style="padding: 1rem;">
            <a href="@manager.Key">
                <div style="padding: 0; width: 100%; display: flex; justify-content: center; align-items: center; height: 20rem; border: 1px solid lightgrey;">
                    <h3 style="padding: 0; text-align: center;">@manager.Value</h3>
                </div>
            </a>
        </div>
    }

</div>