body {
    background-color: #ed8062;
}

.base-container {
    width: 85vw;
    background-color: white;
}

.FWonders-navbar-container{
    width: 85vw;
}

.FWonders-navbar{
    background-color: #222;
}

.jumbo-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    color: #59b7a1;

    display: flex;
    flex-direction: column;
}

.jumbo-logo{
    height: 20rem;
    width: auto;
    margin: 0 auto;
    align-self: center;
}

.jumbo-item{
    margin: .75rem 0;
}

.section-top-three {
    text-align: center;
    margin: 0 0 4vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 25px;
    padding: 2vh;
    background-color: blanchedalmond;
}

.section-top-three h1 {
    margin: 0;
}

.redi-btn {
    margin: 0 auto;
}

.top-three-products{
    padding: 2vh 2vw;
}

.card-holder {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}


.product-cards {
    width: 100%;
    margin: 0 auto;
    border: solid 1px black;
    color: #59b7a1;
    background-color: darkslategrey;
}


.fw-card-image {
    height: 35rem;
    width: 100%;
}

.ig-container{
    border: 1px solid black;
    padding: 0;
}

.ig-img {
    height: 40rem;
    width: 100%;
}

@media(max-width: 1200px)
{
    .card-holder {
        padding: 0;
    }
    
}

@media (max-width: 768px) {
    .product-cards{
        width: 100%;
    }
    .base-container{
        width: 100%;
        padding: 0;
    }
    .FWonders-navbar-container{
        width: 95vw;
    }
    .card-holder{
        padding: 0;
    }
    .fw-card-image {
        height: 30rem;
    }
    .ig-container {
        padding: .5vh;
        border: none;
    }
    .jumbo-btn {
        align-self:center;
    }
}

@media (max-height: 420px){

    .fw-card-image {
        height: 100vh;
    }
    .ig-img {
        height: 100vh;
    }
}