
.fw-card-container {
    padding: 0 4vw;
    padding: 0 2vw;
    min-width: 33rem;
    max-width: 100%;
}

.fw-card-a:hover {
    text-decoration: none;
}

.fw-product-container {
    background-color: white;
}

.fw-card {
    border: solid black 3px;
    width: 100%;
    box-shadow: rgba(0,0,0,.4) 4px 4px;
    font-family: oswald;
}

.fw-card:hover {
    box-shadow: none;
}

.fw-card-title {
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem;
    background-color: #59b7a1;
    background-color: white;
    color: white;
    background-color: rgb(90, 185, 162);
    transition: .24s ease-in-out;
}

.fw-card-img {
    width: 100%;
    height: 30vh;
    object-fit: contain;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    background-color: white;
}

.fw-card-price {
    padding: 1.5rem 0;
    margin: 0;
    color: black;
    background-color: white;
}

.fw-card-btn {
    width: 100%;
    color: white;
    border-radius: 0;
    background-color: rgb(90, 185, 162);
    transition: .24s ease-in-out;
}

.fw-card-a:hover .fw-card-title, .fw-card-a:hover .fw-card-btn {
    background-color: rgb(240, 128, 98);
}


@media(max-width: 1024px) {
    .fw-card-container {
        margin: 1rem 0;
        padding: 0;
    }
    .fw-card-img{
        height: 20rem;
    }
}

@media (max-width: 1024px) and (orientation:landscape) {
    .fw-card-price {
        padding: 1rem 0;
    }
}

@media (max-width: 1024px) and (orientation:portrait) {


    .fw-card-price {
        padding: 1rem 0;
    }
}

@media(max-width: 768px)
{

    .fw-card{
        border: 1px solid black;
        box-shadow: none;
    }

}

@media(max-width: 1400px) {
    .fw-card-container {
        padding: 0 1vw;
    }

    .fw-card-img {
        height: 20rem;
    }
}

@media(max-width: 768px)
{
    .fw-card{
        box-shadow: none;
        border: 1.5px solid black;
    }

}

@media (max-width: 768px) and (orientation:portrait) {
    .fw-card{
        border: 1.5px solid black;
    }
    
}


@media(max-width: 768px) and (orientation: landscape) {
    .fw-card-container {
        min-width: unset;
        max-width: unset;
        width: calc(100% / 3);
    }
}