#gallery-page {
    flex-wrap: wrap;
    padding: 2vh;
    margin: 0 auto;
}

.gallery-man-index-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vh;
}

.gallery-section {
    margin: 1vh 0 0 0;
}

.gallery-img-container {
    margin-bottom: 4vh;
}

.gallery-carousel-img{
    height: 55vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.gallery-img {
    padding: 2rem;
    border: 1px solid lightgrey;
    height: 40vh;
    object-fit: contain;
    width: 100%;
}

#gallery-delete-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.gallery-delete-img-container {
}

.gallery-delete-img {
    height: 50vh;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1400px) {

    .gallery-carousel-img{
        height: 45rem;
    }

    .gallery-img{
        height: 30rem;
    }
}

@media (max-width: 768px) {
    #gallery-page {
        width: 100%;
    }

}