
#home-page {
    padding: 0 4vw;
    margin: 0 auto;
}

.home-page-greeting-container {
    margin: 1vh 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}


.hp-greeting-box {
    display: flex;
    border: 1px solid lightgray;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    padding: 0;
}

.home-page-greeting-shade-cover {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hp-greeting {
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.hp-carousel {
    text-align: center;
    padding: 0 0 0 1vw;
}


.img-test {
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-top-three {
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: blanchedalmond;
    background-color: rgba(240,248,255, .54);
    background-color: aliceblue;
    background-color: white;
    text-align: center;
}

.top-p {
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.top-three-products {
    margin: 2vh 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.thing-cover {
    border-radius: 25px;
    height: 100%;
    width: 100%;
    padding: 2vh;
}

.section-top-three h1 {
    margin: 0;
    font-size: 5vh;
}

.category-display {
    background-color: inherit;
    padding: 0 4rem;
    padding: 0 3vw;
    padding: 0 ;
    margin: 0 auto;
    margin: 4vh 0;
}

.category-img-cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 27vh;
}

.category-container {
    padding: 0 4rem;
    padding: 0 2rem;
}

.category-container a {
    text-decoration: none;
}

.single-category {
    padding: 0;
    border: solid 1px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-title {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
/*    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;*/
}

.redi-btn {
    margin: 2rem auto;
    font-family: oswald;
}

.home-services-container {
    padding: 0;
    text-decoration: none;
}

.contact-img-cover {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform .5s ease;
    min-height: 30vh;
}

.home-services-data {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.home-gallery-container {
    background-color: rgba(250, 235, 215, .7);
    background-color: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2vh 8vw 3vh;
    padding: 0vh 0 3vh;
    border-top: solid 1px lightgray;
}

.home-gallery-container-title {
    text-align: center;
    letter-spacing: 2px;
    font-size: 5vh;
}

.home-gallery-imgs-container {
    background-color: rgba(255,235,205, 1);
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.home-gallery-imgs-anchor {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-gallery-solo-img-container {
    margin: 0;
    padding: 1rem;
    align-self: center;
}

.home-gallery-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: solid lightgrey 1px;
}

.home-gallery-solo-img {
    height: calc(55vh + 4rem);
    margin: 0;
}

.home-gallery-four-group-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
}

.home-gallery-one-of-four-container {
    border: solid white 2px;
    display: flex;
    padding: 1rem;
    margin: 0;
}

.home-gallery-group-img {
    align-self: center;
    width: 100%;
    height: 26.5vh;
}

@media(max-width: 1400px) {
    #home-page{
        padding: 0;
    }

    .top-three-products {
        padding: 0;
    }

}

@media(max-width: 1200px)
{
    .hp-greeting-box{
        min-height: 20rem;
    }
    .hp-greeting{
        min-height: 20rem;
    }
    .home-page-greeting-shade-cover{
        min-height: 20rem;
    }
}

@media(max-width: 1024px) {
    .home-page-greeting-container{
        flex-direction: column-reverse;
    }

    .hp-carousel{
        padding: 0;
    }

    .hp-greeting-box{
    }


    .img-test{
        height:42rem;
    }

    .category-display {
        padding: 0 1rem;
    }

    .category-img-cover {
        min-height: 20rem;
    }

    .contact-img-cover {
        min-height: 25rem;
    }

    .section-top-three h1, .home-gallery-container-title {
        font-size: 4rem;
    }

    .home-gallery-container {
        flex-direction: column;
    }

    .home-gallery-solo-img-container {
        align-self: flex-start;
    }

    .home-gallery-solo-img {
        height: calc(30vh + 4rem);
    }

    .home-gallery-group-img {
        height: 15vh;
    }
}

@media (max-width: 1024px) and (orientation:landscape) {
    .home-gallery-solo-img {
        height: calc(40vh + 4rem);
    }

    .home-gallery-group-img {
        height: 20vh;
    }
}

@media (max-width: 768px) {
    #home-page{
        width: 95vw;
    }

    

    .top-three-products {
        display: flex;
    }

}

@media (max-width: 768px) and (orientation:portrait) {

    .top-three-products {
    }

    .category-container {
        padding: 0 .5rem;
    }

    .home-services-container {
        padding: 0;
    }
}

@media(max-width: 767px) {
    .home-gallery-solo-img {
        height: 25rem;
    }

    .home-gallery-group-img {
        height: 20rem;
    }
}

@media(max-width: 540px)
{
    .img-test {
        height: 30rem;
    }
}

@media(max-width: 540px) and (orientation: portrait){
    .category-container {
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media(max-width: 480px){
    .home-gallery-one-of-four-container {
        border: solid white 2px;
        display: flex;
        padding: 1rem;
        margin: 0;
        width: 100%;
    }

}
