
#products-page {
    background-color: antiquewhite;
    background-color: white;
    background-color: inherit;
    background-color: rgba(255,255,255,.4);
    padding: 2vh;
    margin: 0 auto;
}

.pp-title-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    margin: 0 0vh 4vh;
    padding: 0;
}

.pp-title-dark-layer {
    height: 100%;
    padding: 12.5vh 0;
}

.pp-title-text {
    margin-top: 0;
    text-align: center;
    color: white;
    font-size: 9vh;
}

.pp-t {
    text-align: left;
    text-decoration: underline;
}

.pp-products-section {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 6rem;
}

.pp-card-container {
    margin: 0 0 2rem;
    padding: 0 1vw;
}

@media(max-width: 1400px) {
    .pp-products-section {
        padding: 0;
    }
}

@media (max-width: 1024px) and (orientation:portrait) {
    .pp-fw-card-img {
    }

    .fw-card {
        border: 1px solid black;
    }
}

@media (max-width: 768px) {
    #products-page {
        width: 100%;
    }
}

@media (max-width: 735px) {
    .pp-card-container {
        width: calc(100%/2);
        padding: 0 2rem 2rem;
    }
}

@media(max-width: 480px) {
    .pp-card-container {
        min-width: unset;
        max-width: unset;
        width: 100%;
        padding: 2rem;
    }
}

