@model FiveWonders.core.Models.HomePage

@{ 
    string logoImg = (Model != null && !String.IsNullOrWhiteSpace(Model.mHomePageLogoUrl)) 
        ? Model.mHomePageLogoUrl 
        : "";
}

<div style="min-height: 90vh; display: flex; justify-content: center; flex-direction: column;">
    <div style="min-height: 75vh; display: flex; align-items: center; background-image: url(/Content/Home/ThankYou.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div style="width: 100%; min-height: 75vh; justify-content: center; background-color: rgba(255,255,255,.15); display: flex; flex-direction: column;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: rgba(0,0,0,.15); margin: 0 auto; flex-direction: column; text-align: center;">
                <h1 style="font-size: 8rem; color: lightgoldenrodyellow;">Thank You</h1>
                <img alt="logo" src="~/Content/Home/@logoImg" style="margin: 0 auto; height: 24rem; width: auto;"/>
            </div>
        </div>
    </div>
</div>